body {
	font-size: 18px;
    line-height: 1.8;
}
h1 {
	font-size: 48px;
}
.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}
.first-section {
	padding-top: 80px;
}
.logo-img {
	border: 0px solid; 
	height: 50px;
}
.bg-1 {
	background-color: #ffffff;
    color: #555555;
}
.bg-2 {
	background-color: #444444;
    color: #ffffff;
}
